/.RuleEngineDescriptionLabelProvider.java._trace
/.RuleEngineDescriptionLabelProvider.xtendbin
/.RuleEngineLabelProvider.java._trace
/.RuleEngineLabelProvider.xtendbin
/RuleEngineDescriptionLabelProvider.java
/RuleEngineLabelProvider.java
