/.MyDotDescriptionLabelProvider.java._trace
/.MyDotDescriptionLabelProvider.xtendbin
/.MyDotLabelProvider.java._trace
/.MyDotLabelProvider.xtendbin
/MyDotDescriptionLabelProvider.java
/MyDotLabelProvider.java
